.menu-icon {
    cursor: pointer;
    font-size: 24px;
  }
  
  .sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    /* background-color: #444;
    color: white; */
    overflow-y: auto;
    transition: 0.3s;
  }
  
  .sidebar.open {
    left: 0;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar ul li {
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .sidebar ul li:hover {
    background-color: #555;
  }
  
  .sidebar ul .submenu {
    list-style-type: none;
    padding-left: 20px;
    display: none;
  }
  
  .sidebar ul li:hover .submenu {
    display: block;
  }
  
  .content {
    padding: 20px;
    transition: 0.3s;
    margin-left: 0;
  }
  
  .content.shifted {
    margin-left: 250px;
  }